<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
		<meta charset="UTF-8">
		<!--Especificacion de viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

		<!-- Bootstrap referencia  -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Css referencia-->
		<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<!-- 		<link rel="stylesheet" th:href="@{/css/estilos.css}"> -->
</head>
<body>


<footer th:fragment="footer" style="background-color: #80ffff;">
    <div class="container-fluid pt-3 pb-3"> 
        <div class="row">
            <div class="col-md-2">
                <h1 class="font-weight-bold mt-3 vertical">Bienestar</h1>
            </div>

            <div class="col-md-3">
                <h4 class="font-weight-bold mb-3">Nosotros</h4><hr class="hrcolor" />
                <p>Somos Bienestar en Accion</p>
                <p>un lugar donde encontraras</p>
                <p>toda la informacion para</p>
                <p>cuidarte tanto fisica como</p>
                <p>mentalmente</p>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold mb-3">Redes</h4><hr class="hrcolor" />
                <p><i class="fa-brands fa-facebook link"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter link"></i>Twitter</p>
                <p><i class="fa-brands fa-github link"></i>GitHub</p>
                <p><i class="fa-brands fa-instagram link"></i>Instagram</p>
            </div>
            <div class="col-md-3">
                <h4 class="font-weight-bold mb-3">Contacto</h4><hr class="hrcolor" />
                <p><i class="fas fa-home me-3"></i> Belgrano 322</p>
                <p><i class="fas fa-envelope me-3"></i> bienestar@gmail.com</p>
                <p><i class="fas fa-phone me-3"></i> +544244499</p>
                <p><i class="fas fa-print me-3"></i> +544244499</p>
            </div>
                        <div class="col-md-1">
                <img src="/images/img1.png" width="80px" />
            </div>
        </div>
    </div>
</footer>

<!--Archivo javascript referencia -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>