<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<!--Especificacion de viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>Peso Ideal - Bienestar en Accion</title>
	<!-- Bootstrap referencia  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Css referencia-->
	<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>

  


<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Buscar Peso Ideal</h5>
		<form th:action="@{/imc/buscar-peso-ideal}" th:object="${indiceMasaCorporal}" method="get">
  <div class="mb-3">
    <label for="idUsuario" class="form-label">Ingrese Id de Usuario</label>
    <input type="number"  name="idUsuario" class="form-control" id="idUsuario">
            <div class="text-danger" th:text="${existeUsuario}?'':'No esta registrado el usuario'" ></div>

  </div>
  
  <button type="submit" class="btn btn-primary">Obtener Peso Ideal</button>
</form>
  </div>
</div>



		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
		<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>