<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--Especificacion de viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>Id del Usuario - Bienestar en Accion</title>
	<!-- Bootstrap referencia  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Css referencia-->
	<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<div class="container">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="card">
			<form th:action="@{/testimonio/nuevo}" method="get">
		  		<div class="mb-3">
			    	<label for="idUsuLong" class="form-label">Ingrese Id de Usuario</label>
			    	<input type="number"  name="idUsuLong" class="form-control" id="idUsuLong">
			        <div class="text-danger" th:text="${existeUsuario}?'':'Usuario no encontrado o '" ></div>
			        <div class="text-danger" th:text="${existeTestimonio}?'existe un testimonio registrado'" ></div>
		
		 		</div>
	  			<button type="submit" class="btn btn-primary">Agregar nuevo testimonio</button>
	  			<a class="btn btn-primary btn-testimonio"
					th:href="@{/testimonio/listado}">Volver</a>
	  		</form>
  		</div>

		
	 	 <footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>