<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<title>Nuevo Testimonio - Bienestar en Accion</title>
</head>
<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="form-register-testimonio">
			<form
				th:action="${edicion}?@{/testimonio/modificar/}+${testimonio.id}:@{/testimonio/guardar}"
				th:object="${testimonio}" method="post"
				enctype="multipart/form-data">
				<h3 th:text="${edicion}?'Modificar Testimonio':'Agregar Testimonio'"></h3>
				<div class="mb-3">
					<label for="idUsuario" class="form-label">Usuario</label> <input
						th:field="*{usuario}" type="text" class="form-control controls"
						name="usuario" id="idUsuario" aria-describedby="UsuarioConsejo">
					<div class="text-danger" th:if="${#fields.hasErrors('usuario')}"
						th:errors="*{usuario}"></div>
				</div>
				<label for="idcomentario" class="form-label">Comentario</label>
				<textarea th:field="*{comentario}" class="form-control"
					id="idcomentario" rows="15" cols="5" name="comentario"></textarea>
				<div class="text-danger" th:if="${#fields.hasErrors('comentario')}"
					th:errors="*{comentario}"></div>
				<div class="mb-3">
					<label for="file" class="form-label">Imagen de la
						publicacion de Testimonio</label> <input class="form-control" type="file"
						id="file" name="file" th:text="${testimonio.imagen}">

				</div>
				<a class="btn btn-primary btn-testimonio"
					th:href="@{/testimonio}">Cancelar</a>

				<button type="submit" th:text="${edicion}?'Modificar':'Agregar'"
					class="btn btn-success btn-nuevo-testimonio"></button>
			</form>
		</div>
		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</div>
</body>
</html>