<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<title>Nuevo Testimonio - Bienestar en Accion</title>
</head>
<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="card">
			<div th:text="${usuario.nombre}+' '+${usuario.apellido}">
				
			</div>
			<form
				th:action="${edicion}?@{/testimonio/modificar/}+${testimonio.id}:@{/testimonio/guardar/}+${usuario.id}"
				th:object="${testimonio}" enctype="multipart/form-data" method="post">
				
				
				
				<label for="idcomentario" class="form-label">Comentario</label>
				<textarea th:field="*{comentario}" class="form-control"
					id="idcomentario" rows="15" cols="5" name="comentario"></textarea>
				<div class="text-danger" th:if="${#fields.hasErrors('comentario')}"
					th:errors="*{comentario}"></div>
				
				<div class="mb-3">
	 				<label for="fecha" class="form-label">Año de Publicación</label>
	 				<input type="date" class="form-control" id="fecha" th:field="*{fecha}"
						th:classappend="${#fields.hasErrors('fecha')} ? 'isinvalid' : ''">
					 <p class="form-text text-danger"
					 th:if="${#fields.hasErrors('fecha')}"
					 th:errors="*{fecha}"></p>
				</div>
				
				<div class="input-group mb-3">
					<input type="file" class="form-control" id="file" name="file" th:text="${testimonio.imagen}">
					<label class="input-group-text" for="file">Subir Imagen</label>
				</div>
				
				<a class="btn btn-primary btn-testimonio"
					th:href="@{/testimonio/id-usuario-testimonio}">Cancelar</a>
					
				<div class="mb-3 d-flex justify-content-center">
 					<button type="submit" class="btn btn-success w-100 mb-1 fw-bolder"
						th:text="${edicion}?'Modificar':'Agregar'"></button>
				</div>	
			</form>
		</div>
		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</div>
</body>
</html>