<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<!--Especificacion de viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<!-- Bootstrap referencia  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Css referencia-->
	<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
	<title>Nueva Receta - Bienestar en Accion</title>
</head>

<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>

		<div class="form-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
						<h3 th:text="${edicion}?'Modificar Receta':'Agregar Receta'" class="text-center mb-3"></h3>
						<div class="card-body">
							<!--Formulario de alta/edicion ingredientes -->
							<form th:action="${edicion}?@{/receta/modificar/}+${receta.id}:@{/receta/guardar}" th:object="${receta}"
								method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="nombre" class="form-label">Nombre de Receta : </label>
									<input th:field="*{nombre}" class="form-control" type="text" name="nombres"
										id="nombres" placeholder="Nombre">
									<div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
										th:errors="*{nombre}"></div>
								</div>

								
								<div class="form-check" th:each="ingrediente: ${ingredientes}">
									
									<input  class="form-check-input" type="checkbox" name="ingredientes" 
										 th:value="${ingrediente.id}" >
										<label class="form-check-label" th:text="${ingrediente.nombre}"></label>
								</div>
								



								<div class="form-group">
									<label for="idPreparacion" class="form-label">Preparacion de Receta : </label>
									<textarea th:field="*{preparacion}" class="form-control" name="preparacion"
										id="idPreparacion" rows="15" cols="5" placeholder="preparacion">
									</textarea>

									<div class="text-danger" th:if="${#fields.hasErrors('preparacion')}"
										th:errors="*{preparacion}"></div>
								</div>

								<div class="form-group">
									<label for="idResumen" class="form-label">Resumen de Receta : </label>
									<input th:field="*{resumen}" class="form-control" type="text" name="resumen"
										id="idResumen" placeholder="resumen">
									<div class="text-danger" th:if="${#fields.hasErrors('resumen')}"
										th:errors="*{resumen}"></div>
								</div>

								<div class="mb-2 row">
									<label for="idCategoria" class="col-sm-12 col-lg-3 col-form-label">Seleccione
										categoria de comida:</label>
									<div class="col-sm-12 col-lg-9">
										<select class="form-select" id="idCategoria" th:field="*{categoria}"
											name="categoria">
											<option value="0" selected>Seleccione una opción...</option>
											<option value="Carnes">Carnes</option>
											<option value="Bebidas">Bebidas</option>
											<option value="Dulces">Dulces</option>
											<option value="Ensaladas">Ensaladas</option>
											<option value="Legumbres y Cereales">Legumbres y Cereales</option>
											<option value="Pescados">Pescados</option>
											<option value="Pan">Pan</option>
											<option value="Sopas y Cremas">Sopas y Cremas</option>
										</select>
										<div class="text-danger" th:if="${#fields.hasErrors('categoria')}"
											th:errors="*{categoria}"></div>
									</div>
								</div>


								<div class="input-group mb-3">
									<input type="file" class="form-control" id="file" name="file"
										th:text="${receta.imagen}">
									<label class="input-group-text" for="file">Subir Imagen</label>
								</div>

								<br>
								<div class="form-group d-flex justify-content-between">
									<div class="btn-group btn-group-sm" role="group">
										<a class="btn btn-secondary mx-2" th:href="@{/receta/gestion}"
											role="button">Cancelar</a>
										<button type="submit" th:text="${edicion}?'Modificar':'Agregar'"
											class="btn btn-primary"></button>
									</div>
								</div>

							</form>
						</div>

					</div>
				</div>
			</div>
		</div>



		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>