<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!--Especificacion de viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>Peso Ideal - Bienestar en Accion</title>
	<!-- Bootstrap referencia  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Css referencia-->
	<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Su peso ideal es </p>
  </div>
</div>




		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
		<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>