<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/style.css}">
<title>Receta - Bienestar en Accion</title>
</head>
<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>



		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
</body>
</html>