<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<title>Recetas - Bienestar en Accion</title>

</head>
<body>

	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>

		<a  th:if="${gestion != false}" th:href="${gestion}?@{/receta/gestion}" class="btn btn-primary"
		th:text="${edicion}?'Volver a gestion de Receta':'  '"></a>
		
		<a th:if="${listaReceta != false}"  th:href="${listaReceta}?@{/receta/lista}" class="btn btn-primary"
		th:text="${listaReceta}?'Volver a lista receta':'  '"></a>
			
				<div class="card">
	<h1 class="card-title text-center">Ver Receta</h1>
	
		<div class="card" style="width: 18rem;" th:object="${receta}">
  <img th:src="@{/receta/cargar/}+${receta.imagen}" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title" th:text="*{nombre}"></h4>
    <p class="card-text" th:text="*{resumen}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5 class="card-title">Ingredientes:</h5>

		<ul class="list-group list-group-flush">
  <li class="list-group-item" th:each="ingrediente: ${receta.ingredientes}" th:text="${ingrediente.nombre}">An item</li>
</ul>

    <h5 class="card-title">Preparacion</h5>
    <p class="card-text" th:text="${receta.preparacion}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  
  </div>
  
</div>
	
	</div>
	<!--Uso del fragmento footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
		
	
	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>