<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!--Especificacion de viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>Registros Imc - Bienestar en Accion</title>
	<!-- Bootstrap referencia  -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Css referencia-->
	<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>


  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" th:href="@{/imc/calculadora}">Calculadora Imc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/imc/registros}">Registros Imc</a>
      </li>
     
    </ul>
  </div>
  <div class="card-body">
	  
	  <form th:action="@{/imc/obtener-registros-imc}" th:object="${indiceMasaCorporal}" method="get">
  <div class="mb-3">
    <label for="idUsuario" class="form-label">Ingrese Id de Usuario</label>
    <input type="number"  name="idUsuario" class="form-control" id="idUsuario">
        <div class="text-danger" th:text="${existeUsuario}?'':'No esta registrado el usuario'" ></div>

  </div>
  <button type="submit" class="btn btn-primary">Obtener Registros de indice de Masa Corporal</button>
</form>
	  
	  <div  style="width: 18rem;" th:if="${mostrarDatos != false}">
  <div class="card-body">
    <h5 class="card-title" th:text="'Usuario: '+${usuario.nombre}+ '  ' + ${usuario.apellido}"></h5>
    <h6 class="card-title text-center " th:text="'Id: '+${usuario.id}" ></h6>
  </div>
</div>
	  
   <table class="table table-bordered" th:if="${mostrarDatos != false}">
  <thead class="table-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">IMC</th>
      <th scope="col">Peso</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="imc : ${indicesMasaMuscular}">
      <td th:text="${#temporals.format(imc.fechaImc, 'dd/MM/yyyy')}"></td>
      <td th:text="${imc.calcularImc()}"></td>
      <td th:text="${imc.peso}+' Kg'"></td>
    </tr>
  </tbody>
</table>
  </div>
</div>


		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>

	</div>
		<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>