<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<!--Especificacion de viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<!-- Bootstrap referencia  -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Css referencia-->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<title>Testimonio - Bienestar en Accion</title>
</head>
<body>
	<div class="container">
		<!--Uso del fragmento header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<a th:href="@{/testimonio/id-usuario-testimonio}" class="btn btn-primary">Ingrese Id de Usuario</a>
		
		<div class="row gy-3 my-3">

			<div class="col-sm-6 col-md-4 col-lg-3"
				th:each="testimo: ${testimonios}">
				<div class="card">
					<div class="card-body">
						<p th:text="${testimo.comentario}" class="card-title"></p>
					</div>
				</div>
			</div>
		</div>
		
		<!--Uso del fragmento footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>

	<!-- Configuracion para usar bootstrap js -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>